$primary-color: #151c38;
$secondary-color: #43bbfe;
$accent-color: #201f3b;
$font: 'Nunito Sans', sans-serif;
$light-100-color: #fefffe;
$purple-100-color: #8982b2;
$purple-translucent: #8982b21e;
$purple-400-color: #7040b1;
$dark-color: #1a1d20;
$translucent-background: rgba(0, 0, 0, 0.3);
// Form CSS Variables
$primary-gradient-start: #00deff;
$primary-gradient-end: #7141b1;
$primary-form-color: white;
$form-background: rgba(255, 255, 255, 0.3);
